<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109062.html</string>
			<key>pic</key>
			<string>gesila.png</string>
			<key>name</key>
			<string>哥斯拉</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/103268.html</string>
			<key>pic</key>
			<string>range.png</string>
			<key>name</key>
			<string>明日边缘</string>
			<key>recommend</key>
			<string>★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险/科幻</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109167.html</string>
			<key>pic</key>
			<string>teamAmerican.png</string>
			<key>name</key>
			<string>美国队长2</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险/科幻</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109062.html</string>
			<key>pic</key>
			<string>gesila.png</string>
			<key>name</key>
			<string>哥斯拉</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/103268.html</string>
			<key>pic</key>
			<string>range.png</string>
			<key>name</key>
			<string>明日边缘</string>
			<key>recommend</key>
			<string>★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险/科幻</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109167.html</string>
			<key>pic</key>
			<string>teamAmerican.png</string>
			<key>name</key>
			<string>美国队长2</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险/科幻</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109062.html</string>
			<key>pic</key>
			<string>gesila.png</string>
			<key>name</key>
			<string>哥斯拉</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109062.html</string>
			<key>pic</key>
			<string>gesila.png</string>
			<key>name</key>
			<string>哥斯拉</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/103268.html</string>
			<key>pic</key>
			<string>range.png</string>
			<key>name</key>
			<string>明日边缘</string>
			<key>recommend</key>
			<string>★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险/科幻</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109062.html</string>
			<key>pic</key>
			<string>gesila.png</string>
			<key>name</key>
			<string>哥斯拉</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/109062.html</string>
			<key>pic</key>
			<string>gesila.png</string>
			<key>name</key>
			<string>哥斯拉</string>
			<key>recommend</key>
			<string>★★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
		<dict>
			<key>address</key>
			<string>http://dianying.2345.com/detail/103268.html</string>
			<key>pic</key>
			<string>range.png</string>
			<key>name</key>
			<string>明日边缘</string>
			<key>recommend</key>
			<string>★★★★</string>
			<key>type</key>
			<string>类型：动作/冒险/科幻</string>
			<key>time</key>
			<string>上映时间：6月13日</string>
		</dict>
	</array>
</dict>
</plist>
